@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital@0;1&family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes float-animation {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0px);
	}
}

body {
	--color-cyan-500: #06b6d4;
	--color-purple-500: #8b5cf6;
	font-family: "Space Grotesk", sans-serif;
	background-color: #000000;
	color: #ffffff;
}

.gradient-text {
	background: linear-gradient(to right, var(--color-cyan-500), var(--color-purple-500));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
  @apply text-xl md:text-4xl
}

p {
  @apply text-xl tracking-tight leading-relaxed
}

span {
  @apply text-yellow-400
}


.shiny-effect {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  background: radial-gradient(circle, rgba(178, 19, 202, 0.2), transparent 70%);
}

.bg-primary-color {
  @apply bg-purple-600
}